body{
    background-color: lightgray;
}
.header{
    text-align: left;
}

.hobbies{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 50% 50%;
    position: absolute;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 20%;
    width: 80%;
}

.hobby_item{
    margin-bottom: 15%;
    width: 90%;
    aspect-ratio: 9/16;
}



